<mat-card class="employee">
  <mat-card-header>
    <mat-card-title>{{employee.lastName}}, {{employee.firstName}}</mat-card-title>
    <mat-card-subtitle>ID: {{employee.id}}</mat-card-subtitle>
    <mat-card-subtitle>Total subordinates: {{totalReports}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Job Title</dt>
      <dd>{{employee.position}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-content *ngIf="directReports.length > 0">
    <dl>
      <dt>Direct subordinates</dt>
      <ng-container *ngFor="let report of directReports">
        <dd>
          {{report.id}}: {{report.lastName}}, {{report.firstName}}
          <button mat-button>edit</button>
          <button mat-button (click)="delete(report)">delete</button>
        </dd>
      </ng-container>
    </dl>
  </mat-card-content>
</mat-card>
