<mat-grid-list class="employee-list" cols="1" rowHeight="4:1">
  <mat-grid-tile *ngFor="let emp of employees">
    <app-employee class="app-emp" [employee]="emp" (deleteReport)="deleteReport($event)"></app-employee>
  </mat-grid-tile>
</mat-grid-list>
