/* You can add global styles to this file, and also import other style files */

.mat-card-header-text {
    width: 100%;
}

.mat-card {
    background-color: #f5f5f5;
}

button.mat-button {
    background-color: #ffffff;
    margin: .5rem;
}

dt {
    font-size: 1.1rem;
    margin-bottom: .25rem;
}